<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
          <div>
              <h1><a href="/">Django Girls y Valen Blog</a></h1>
          </div>
          <div>
              <h1><a href="/">Django Girls y Valen Blog</a></h1>
          </div>
        </div>

        <div>
            <h2><a href="">Primer posteo sobre papas</a></h2>
            <p>Acá hago listas de cosas que se pueden hacer con papa</p>
            <p>published: 14.06.2014, 12:14</p>
        </div>

        <div>
            <h2><a href="">Segundo posteo sobre papas</a></h2>
            <p>Acá creo que también hago una lista de cosas que se pueden hacer con papa</p>
            <p>published: 14.06.2014, 12:14</p>
        </div>
    </body>
</html>
